server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: ${JWT_SECRET:mySuperSecretKeyForJWTTokenSigningInHotelBookingSystem2024}

management:
  endpoints:
    web:
      exposure:
        include: health,info,routes
  endpoint:
    health:
      show-details: always
